<div class="header">
  <div class="container-fluid">
    <div class="head-inner">
      <div class="header-title">
         <%= t('task.labels.tasks') %>
      </div>
      <%= link_to "+", new_task_path, class: "btn btn-plus" %>
    </div>
  </div>
</div>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <button class="close" data-dismiss="alert">×</button>
    <%= msg %>
  </div>
<% end %>
<div class="main">
  <div class="container-fluid">
    <% if @tasks.present? %>
      <% @tasks.each do |task| %>
        <div class="media mt-4">
          <%= image_tag image_url(task.avatar), class: "mr-3 rounded-circle" %>
          <% if task.completed_at.present? %>
            <div class="media-body">
              <span class="badge badge-warning-lighten float-right"><%= task.completed_at.to_i %></span>
              <h6 class="mt-0 mb-0"><%= task.user.username %></h6>
              <small ><%= task.description %></small>
            </div>
          <% else %>
            <div class="controller-media-body">
              <span class="float-right">
                <span class="badge badge-warning-lighten float-right d-none"></span>
                <%= check_box_tag :completed_at, 'yes', false, class: 'custom-input', task_id: task.id %>
              </span>
              <h6 class="mt-0 mb-0"><%= task.description %></h6>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="media mt-4">
        <h6 class="mt-0 mb-0">
          <%= t('task.labels.no_task') %>
          <%= link_to t('task.messages.click_add'), new_task_path, class: "" %>
        </h6>
      </div>
    <% end %>
  </div>
</div>